<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<head th:replace ="combo/head.html :: head" ></head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/login.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/General.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/fuenteColor.css}">  	
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/NavBar.css}"> 
        <title> Contabook</title>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body class="colorbody">
    	<header th:replace="combo/navBar.html :: navbar"></header>
			 <!-- Encabezado general -->
			 		 <!-- Encabezado general -->
	<div class="containerFlex" id="encabezado">
		<div class="local">
			<h2 class="letraBlue" th:replace="combo/comboLocal.html :: comboLocal"></h2>
		</div>
	
		<div class="descripcion"> 
			<h2 class="tituloAFcenter">CREAR COMPROBANTE</h2>
			<h3 th:replace="combo/comboPeriodo.html :: comboPeriodo"></h3>
		</div>
		<div class="fechahora">
			<h2 class="letra" th:replace="combo/FechaHoraActual.html :: comboFechaHora">
				
		</div>
		
	</div>
	<div class="Container1">
		<form class="containerTable">
			<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
				
			<div id="cajaprincipal" class="cajaprincipal">
				<div id="caja1">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="nombreComprobante" style="margin: 15px;">NOMBRE COMPROBANTE:</label>
							<input type="text"maxlength="98"  id="nombreComprobante" style="width: 240px; margin-left: 10px;" th:value="${xNombreTercero}">
						</div>
			
			
					</div>
				</div>
			
				<div id="caja2">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="idComprobante" style="margin: 15px;">#ID:</label>
							<input type="number" id="idComprobante" th:value="${MaxIdTipoCpte}" style="width: 240px; margin-left: 80px;" readonly >
						</div>
			
			
					</div>
				</div>
			</div>
			
			<div id="cajaprincipal" class="cajaprincipal">
				<div id="caja1">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="estado" style="margin: 15px;">ESTADO:</label>
							<input type="text" maxlength="10" id="estado" style="width: 240px; margin-left: 154px;" th:value="${xNombreTercero}" pattern="[0-9]+" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
						</div>
			
			
					</div>
				</div>
			
				<div id="caja2">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="signo" style="margin: 15px;">SIGNO:</label>
							<input type="text" maxlength="18" id="signo" style="width: 240px; margin-left: 53px;" th:value="${xNombreTercero}"  pattern="[0-9]+" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
						</div>
			
			
					</div>
				</div>
			</div>
			
			<div id="cajaprincipal" class="cajaprincipal">
				<div id="caja1">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="idSeq" style="margin: 15px;">IDSEQ:</label>
							<input type="text" maxlength="10" id="idSeq" style="width: 240px; margin-left: 169px;" th:value="${xNombreTercero}" pattern="[0-9]+" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
						</div>
			
			
					</div>
				</div>
			
				<div id="caja2">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="idAlcance" style="margin: 15px;">IDALCANCE:</label>
							<input type="text" maxlength="18" id="idAlcance" style="width: 240px; margin-left: 10px;" th:value="${xNombreTercero}"  pattern="[0-9]+" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
						</div>
			
			
					</div>
				</div>
			</div>
			

			
	
			</div>
				<div class="GenerarReporte">
					<!-- Botón para enviar el formulario -->
					<a href="./TipoComprobante" class="btn btn-success" style="margin: 50px;">Regresar</a>
					<button type="button" class="btn btn-primary" onclick="crearComprobante()" >Crear </button>
				</div>
     
		</form>
	</div>
	
	
	
	
	
	
	

    <script th:inline="javascript" src="./js/contadorRegresivo.js"></script>
    <script th:inline="javascript">
		

		
	function crearComprobante() {
		
		var nombreComprobante = document.getElementById("nombreComprobante").value;
		var idComprobante = document.getElementById("idComprobante").value;
		var estado = document.getElementById("estado").value;
		var signo = document.getElementById("signo").value;
		var idSeq = document.getElementById("idSeq").value;
		var idAlcance = document.getElementById("idAlcance").value;

		
		
		    
    	if (!nombreComprobante) {
        alert("Por favor, ingrese nombre del Comprobante.");
        return;
    }
		
		
	if (!idComprobante) {
        alert("Por favor, ingrese un id.");
        return;
    }

    
    	if (!estado) {
        alert("Por favor, seleccione un estado.");
        return;
    }
    
    	if (!signo) {
        alert("Por favor, ingrese un signo.");
        return;
    }

    
       if (!idSeq) {
        alert("Por favor, ingrese un idSeq.");
        return;
    }
    
        	if (!idAlcance) {
        alert("Por favor, ingrese idAlcance.");
        return;
    }
    
    
		
		
		
		// Crear un objeto que contenga los datos a enviar
    var datos = {
        nombreComprobante: nombreComprobante,
        idComprobante: idComprobante,
        estado: estado,
        signo: signo,
        idSeq: idSeq,
        idAlcance: idAlcance,
    };
    
    // Realizar una solicitud POST al controlador
    fetch("./CrearComprobante-Post", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify(datos),
    })
    .then((response) => response.json())
    .then((data) => {
		
		var message = data.message;
       console.log(message);
       
       var nombreComprobante = data.nombreComprobante
       console.log("message es " + message);
       
       
       
       
       if(message === "OK"){		   
		     swal({
            title: "¡Comprobante " + nombreComprobante + " creado correctamente ! ",
            icon: "success",
            button: "Continuar",
        })
        .then((value) => {
            // Redirigimos a la vista "CrearSuscriptor"" al hacer clic en el botón Continuar
            if (value) {
                window.location.href = "./TipoComprobante";
            }
        });
		   
	   }
       
        

    })
    .catch((error) => {
        console.error("Error al registrar el log:", error);
    });
    
		
	
	}
		
	
		
	

	</script>
</body>
</html>