<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<head th:replace ="combo/head.html :: head" ></head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/login.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/General.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/fuenteColor.css}">  	
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/NavBar.css}"> 
        <title> Contabook</title>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    	<header th:replace="combo/navBar.html :: navbar"></header>
			 <!-- Encabezado general -->
			 		 <!-- Encabezado general -->
	<div class="containerFlex" id="encabezado">
		<div class="local">
			<h2 class="letraBlue" th:replace="combo/comboLocal.html :: comboLocal"></h2>
		</div>
	
		<div class="descripcion"> 
			<h2 class="tituloAFcenter">IMPORTAR</h2>
		</div>
		<div class="fechahora">
			<h2 class="letra" th:replace="combo/FechaHoraActual.html :: comboFechaHora">
				
		</div>
		
	</div>
	
		<form class="containerTable">

                <div class="divCentrado" style="margin-top: 100px;">
					<input type="hidden" id="idPeriodo" th:value="${xIdPeriodo}">
					<button type="button" id="Importar"  class="btn btn-primary" onclick="ImportarContabilidad()" >Importar contabilidad</button>

				</div>
				<div id="loadingSpinner" style="display: none;">
   				 
  				  <div class="spinner"></div>
			 </div>

			
		</form>
	<div>
		
		
	</div>
	
	
	
	
	
	
	

    <script th:inline="javascript" src="./js/contadorRegresivo.js"></script>
    <script th:inline="javascript">
		


function ImportarContabilidad() {
	
	var idPeriodo = document.getElementById("idPeriodo").value;
	
	// Deshabilitar el botón al inicio de la función
  	 document.getElementById("Importar").disabled = true;
  				 
  	 // Mostrar el spinner de carga
     document.getElementById('loadingSpinner').style.display = 'block';

		
 // Crear un objeto que contenga los datos a enviar
    var datos = {
		idPeriodo: idPeriodo
    };
    
    // Realizar una solicitud POST al controlador
    fetch("./ImportarContabilidad-Post", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify(datos),
    })
    .then((response) => response.json())
    .then((data) => {
		
		var message = data.message;
       console.log(message);
       
       var nombreComprobante = data.nombreComprobante
       console.log("message es " + message);
       
       
       
       
       if(message === "OK"){		   
		     swal({
            title: "¡Contabilidad importada correctamente! ",
            icon: "success",
            button: "Continuar",
        })
        .then((value) => {
			
	 // Deshabilitar el botón al inicio de la función
  	 document.getElementById("Importar").disabled = true;
  				 
  	 // Mostrar el spinner de carga
     document.getElementById('loadingSpinner').style.display = 'block';
			
            // Redirigimos a la vista "CrearSuscriptor"" al hacer clic en el botón Continuar
            if (value) {
                window.location.href = "./Importar";
            }
        });
		   
	   }
       
        

    })
    .catch((error) => {
        console.error("Error al registrar el log:", error);
    });
    
		
	
	}
		
		
	</script>
</body>
</html>