<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<head th:replace ="combo/head.html :: head" ></head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/login.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/General.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/fuenteColor.css}">  	
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/NavBar.css}"> 
        <title> Contabook</title>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    	<header th:replace="combo/navBar.html :: navbar"></header>
			 <!-- Encabezado general -->
			 		 <!-- Encabezado general -->
	<div class="containerFlex" id="encabezado">
		<div class="local">
			<h2 class="letraBlue" th:replace="combo/comboLocal.html :: comboLocal"></h2>
		</div>
	
		<div class="descripcion"> 
			<h2 class="tituloAFcenter">PERIODO</h2>
		</div>
		<div class="fechahora">
			<h2 class="letra" th:replace="combo/FechaHoraActual.html :: comboFechaHora">
				
		</div>
		
	</div>
	
		<form class="containerTable">
			<div class="container" >

                
                <br>
                <br>
                
                	<div class="form-group"  id="tabla">
		
					<table class="table">
    <thead>
        <tr>
            <th></th>			
            <th class="subtituloAF">IDPERIODO</th>
            <th class="subtituloAF">NOMBRE</th>
            <th class="subtituloAF">FECHA INICIO </th>
            <th class="subtituloAF">FECHA FIN </th>
            <th class="subtituloAF">ESTADO</th>
        </tr>
    </thead>
    <tbody>
		 <tr>
            <td></td>
            <td><input type="number" class="form-control" style="width: 115px; height: 37px;" id="idPeriodo" th:attr="valor=${xIdPeriodo}" oninput="limitarLongitud(this, 6)"></td>
            <td><input type="text" class="form-control" style="width: 150px; height: 37px;" id="nombre" ></td>
            <td><input type="text" class="form-control fecha-input" maxlength="8" style="width: 115px; height: 37px;" id="fechaInicioConsumo" th:attr="valor=${xfechaInicioConsumo}"></td>
            <td><input type="text" class="form-control fecha-input" maxlength="8" style="width: 115px; height: 37px;" id="fechaFinConsumo" th:attr="valor=${xfechaFinConsumo}"></td>

        </tr>
        <tr th:each="periodo : ${listaPeriodos}">
  		  <td class="detalleAF" text=""></td>
    	<td class="detalleAF">
     	   <a href="#" th:text="${periodo.getIdPeriodo()}" th:onclick="'mostrarDetalle(\'' + ${periodo.getIdPeriodo()} + '\')'"></a>
    	</td>
   	 	<td class="detalleAF" th:text="${periodo.getNombrePeriodo()}"></td>
   		<td class="detalleAF" th:text="${periodo.getFechaInicialAAMMDD()}"></td> 
  	    <td class="detalleAF" th:text="${periodo.getFechaFinalAAMMDD()}"></td>
        <td class="detalleAF estadoPeriodo" th:text="${periodo.getEstadoPeriodo()}"></td>
     </tr>
        <!--  -->

    </tbody>
</table>
				</div>
         
			</div>
			
				<div class="divCencer">
					<!-- Botón para enviar el formulario -->
					<button type="button" class="btn btn-primary" value="Guardar" onclick="ingresarPeriodo()">Ingresar Periodo</button>
				</div>
		</form>
	<div>
		
		
	</div>
	
	
	
	
	
	
	


    <script th:inline="javascript">
		
		// ----------------------------- LIMITAR LONGITUD ------------------------------
			function limitarLongitud(elemento, maximo) {
		if (elemento.value.length > maximo) {
			elemento.value = elemento.value.slice(0, maximo);
		}
	}
	
	
	//----------------------------- ASINGAR VALOR DE ACTIVO ------------------------------
		
  document.addEventListener("DOMContentLoaded", function() {
    // Obtener todas las filas de la tabla
    var filas = document.querySelectorAll("tbody tr");

    // Iterar sobre cada fila
    filas.forEach(function(fila) {
        // Encontrar el elemento con la clase "estadoPeriodo" dentro de la fila
        var estadoElemento = fila.querySelector(".estadoPeriodo");

        if (estadoElemento) {
            var estadoPeriodo = estadoElemento.innerText.trim();
            
            // Aplicar el condicional
            if (estadoPeriodo === "1") {
                estadoElemento.innerText = "ACTIVO";
                fila.style.backgroundColor = "#ffcccc"; // Cambiar el fondo de la fila a rojo
                fila.style.color = "white"; // Cambiar el color del texto a blanco para mejor legibilidad
            } else if (estadoPeriodo === "2") {
                estadoElemento.innerText = ""; // Dejar vacío si es 2
            } else {
                estadoElemento.innerText = "INACTIVO"; // Si no es 1 ni 2, entonces es inactivo
            }
        }
    });
});
    
    
    //------------------------- FORMATEAR IMPUT DE FECHA ----------------------------
    
    
// Seleccionar todos los elementos con la clase 'fecha-input'
var inputsFecha = document.querySelectorAll(".fecha-input");

// Agregar un event listener a cada campo de entrada de fecha
inputsFecha.forEach(function(input) {
    input.addEventListener("input", function(event) {
        var inputValue = event.target.value;
        var formattedValue = formatarFecha(inputValue);
        event.target.value = formattedValue;
    });
});

function formatarFecha(inputValue) {
    // Remover cualquier caracter que no sea número
    var numericValue = inputValue.replace(/\D/g, "");

    // Formatear la fecha (AAAA-MM-DD)
    var formattedValue = numericValue.replace(/^(\d{4})(\d{2})(\d{2})$/, "$1-$2-$3");

    // Verificar si se borró un número
    if (inputValue.length > 0 && numericValue.length < inputValue.length) {
        formattedValue = ""; // Establecer el valor como una cadena vacía
    }

    return formattedValue;
}
    
    
    //------------------------ INGRESAR PERIODO -------------------------------------
    
    function ingresarPeriodo() {
		
	var xIdPeriodo = document.getElementById("idPeriodo").getAttribute("valor");
console.log("xIdPeriodo es: " + xIdPeriodo);

var nuevoPeriodo = document.getElementById("idPeriodo").value;
console.log("Nuevo periodo es: " + nuevoPeriodo);

// Extraer año y mes del periodo actual
var xAnio = parseInt(xIdPeriodo.substring(0, 4));
var xMes = parseInt(xIdPeriodo.substring(4, 6));

// Extraer año y mes del nuevo periodo
var nuevoAnio = parseInt(nuevoPeriodo.substring(0, 4));
var nuevoMes = parseInt(nuevoPeriodo.substring(4, 6));

// Validación de formato de año y mes
if (!/^20\d{2}$/.test(nuevoPeriodo.substring(0, 4)) || nuevoMes < 1 || nuevoMes > 12) {
    alert("Error: El año debe empezar por 20 y el mes debe estar entre 01 y 12.");
    return;
}

// Validamos si el nuevo periodo es posterior al periodo actual
if (nuevoAnio < xAnio || (nuevoAnio === xAnio && nuevoMes <= xMes)) {
    alert("Error: El nuevo periodo debe ser posterior al periodo actual.");
    return;
}
		
		

    var FechaInicioConsumo = document.getElementById("fechaInicioConsumo").value;
    console.log("FechaInicioConsumo es: " + FechaInicioConsumo);
    
    var fechaFinConsumo = document.getElementById("fechaFinConsumo").value;
    console.log("fechaFinConsumo es: " + fechaFinConsumo);

    // Convertimos las cadenas de fecha en objetos Date
    var inicioConsumoDate = new Date(FechaInicioConsumo);
    var finConsumoDate = new Date(fechaFinConsumo);

    // Verificamos si la fecha de fin de consumo es menor que la fecha de inicio de consumo
    if (finConsumoDate < inicioConsumoDate) {

        alert("Error: La fecha de FIN de consumo no puede ser menor que la fecha de inicio de consumo.");
        return; 
    }
    
    
		
		
		var nombre = document.getElementById("nombre").value;
		
		if(!nombre){
			
			alert("Por ingrese el nombre del periodo");
			return;
		}
		
		if(!nuevoPeriodo){
			
			alert("Por ingrese un periodo");
			return;
		}
		
		
		if(!FechaInicioConsumo){
			
			alert("Por ingrese fecha inicio Consumo");
			return;
		}
		
		
		
		if(!fechaFinConsumo){
			
			alert("Por ingrese fecha fin Consumo");
			return;
		}
		
		
		
		
		
		
		
		
			// Crear un objeto que contenga los datos a enviar
    var datos = {
		nuevoPeriodo: nuevoPeriodo,
		nombre: nombre,
		FechaInicioConsumo: FechaInicioConsumo,
		fechaFinConsumo: fechaFinConsumo,
			
    };
    
    // Realizar una solicitud POST al controlador
    fetch("./CrearPeriodo-Post", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify(datos),
    })
    .then((response) => response.json())
    .then((data) => {
		
		var message = data.message;
       console.log(message);
       
       
          swal({
            title: "¡Periodo  creado correctamente!",
            //text: "La PQR  " + numeroRadicado + " ha sido creada correctamente",
            icon: "success",
            button: "Continuar",
        })
        .then((value) => {
            // Redirigimos a la vista "CrearSuscriptor"" al hacer clic en el botón Continuar
            if (value) {
                window.location.href = "./Periodo";
            }
        });

    })
    .catch((error) => {
        console.error("Error al registrar el log:", error);
    });
		
		
	}
	
	
	
	
	


			function mostrarDetalle(idPeriodoint) {
					console.log("Ingresó a mostrarDetalle");
					console.log("El idTercero en mostrarDetalle es :" + idPeriodoint);

					console.log("El tipo de dato de idTercero es: " + typeof idPeriodoint);
					
					// Convierte idTercero a string
    				var idPeriodo = idPeriodoint.toString();

					// Crear un objeto que contenga los datos a enviar
					var datos = {
						idPeriodo: idPeriodo
					};

					// Realizar una solicitud POST al controlador
					fetch("./TraerPeriodo-Post", {
						method: "POST",
						headers: {
							"Content-Type": "application/json",
						},
						body: JSON.stringify(datos),
					})
						.then((response) => {
							// Verifica si la respuesta es una redirección
							if (response.redirected) {
								// Redirige al URL especificado en la respuesta
								window.location.href = response.url;
							} else {
								// Parsea la respuesta JSON si no es una redirección
								return response.json();
							}
						})
						.then((data) => {
							if (data) {
								var message = data.message;
								console.log(message);
							}
						})
						.catch((error) => {
							console.error("Error al registrar el log:", error);
						});
				}
		
	
		
	
	</script>
</body>
</html>