<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
 	<head th:replace ="combo/head.html :: head" ></head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/login.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/General.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/fuenteColor.css}">  	
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/NavBar.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/ComprobanteContable.css}">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <title> Contabook</title>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
	<header th:replace="combo/navBar.html :: navbar"></header>
	<div class="containerFlex" id="encabezado">
		<div class="local">
			<h2 class="letraBlue" th:replace="combo/comboLocal.html :: comboLocal"></h2>
		</div>
		<div class="descripcion">
			<h2 class="tituloAFcenter">ESTADO SITUACION FINANCIERA</h2>
			<h3 th:replace="combo/comboPeriodo.html :: comboPeriodo"></h3>
		</div>
		<div class="fechahora">
			<h2 class="letra" th:replace="combo/FechaHoraActual.html :: comboFechaHora"></h2>
		</div>
	</div>
	
	<div style="display: flex; margin-top: 60px;" class="divCencer" >
	<div  style="display: flex;"  >
		<div>
			<label class="letra" >PERIODO DESDE</label>			
		</div>
		<div>
			  <select id="idPeriodo1" style="width: 200px; height: 25px;	margin-left: 10px;">
				<option th:text="${xLista.getIdPeriodo() + ' - ' + xLista.getNombrePeriodo()}" th:each="xLista:${xListaPeriodos}" th:value="${xLista.getIdPeriodo()}"></option>
			</select>
		   </div>	

	</div>
	
	<div  style="display: flex; margin-left: 60px;"  >
		<div>
			<label class="letra" >PERIODO HASTA</label>			
		</div>
		<div>
			  <select id="idPeriodo2" style="width: 200px; height: 25px;	margin-left: 10px;">
				<option th:text="${xLista.getIdPeriodo() + ' - ' + xLista.getNombrePeriodo()}" th:each="xLista:${xListaPeriodos}" th:value="${xLista.getIdPeriodo()}"></option>
			</select>
		   </div>	

	</div>
	<div style="margin-left: 50px;">
		<label class="letra">DESTINACION:</label>
		<!-- Select para seleccionar entre "pantalla" o "Archivo" -->
		<select name="formato" id="formato" style="margin-left: 10px; " >
			<option value="PDF">Pantalla</option>
			<option value="EXCEL">Archivo</option>
		</select>
	</div>
	</div>
	
	
	
	
	<div class="divCencer" style="margin-top: 20px;">				
    	<a href="./menuPrincipal" class="btn btn-primary" style="margin: 25px;">Regresar</a>
		<button type="button" class="btn btn-success" id="generarBtn" value="Guardar" style="width: 180px;" onclick="ReporteEstadoSituacionFinanciera()" >Generar Reporte</button>
	</div>
	
	
	<div id="loadingSpinner" style="display: none;">
   				 
  	   <div class="spinner"></div>
	</div>



	<script type="text/javascript" th:inline="javascript">
		
  function ReporteEstadoSituacionFinanciera() {			
	    const button = document.getElementById('generarBtn');
			     
	     // Deshabilitar el botón
         button.disabled = true;

		 // Mostrar el spinner de carga
         document.getElementById('loadingSpinner').style.display = 'block';
         var idPeriodo1 = document.getElementById("idPeriodo1").value;
         var idPeriodo2 = document.getElementById("idPeriodo2").value;
         var formato = document.getElementById("formato").value;
         
         console.log("idPeriodo1 es " + idPeriodo1);
         console.log("idPeriodo2 es " + idPeriodo2);

	     // Crear un objeto que contenga los datos a enviar
		var datos = {
			idPeriodo1: idPeriodo1,
			idPeriodo2: idPeriodo2,
			formato: formato
			};

		 // Realizar una solicitud POST al controlador
		 fetch("./DescargarReporteEstadoSituacionFinanciera", {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify(datos),
		})
		.then(response => {
     if (!response.ok) {
          throw new Error('Network response was not ok');
      }
      return response.blob();  // Convierte la respuesta a un Blob (secuencia de bytes)
   })
  .then(blob => {
     const url = window.URL.createObjectURL(blob);
        
     if (formato === 'PDF') {
        // Abrir el PDF en una nueva pestaña
        window.open(url, '_blank');
      } else if (formato === 'EXCEL') {
         // Descargar el archivo Excel
         const a = document.createElement('a');
         a.href = url;
         a.download = 'reporte.xlsx';
         document.body.appendChild(a);
         a.click();
         a.remove();
       }

      // Liberar la URL del objeto para liberar recursos
      window.URL.revokeObjectURL(url);
   })
   .catch(error => console.error('Error al descargar el archivo', error))
   .finally(() => {
      // Ocultar el spinner de carga
      document.getElementById('loadingSpinner').style.display = 'none';
      button.disabled = false;
  });

}			


		
	</script>
</body>

</html>