<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
 	<head th:replace ="combo/head.html :: head" ></head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/login.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/General.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/fuenteColor.css}">  	
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/NavBar.css}"> 
    	
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <title> Contabook</title>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
	<header th:replace="combo/navBar.html :: navbar"></header>
	<div class="containerFlex" id="encabezado">
		<div class="local">
			<h2 class="letraBlue" th:replace="combo/comboLocal.html :: comboLocal"></h2>
		</div>
		<div class="descripcion">
			<h2 class="tituloAFcenter">DETALLES COMPROBANTE CONTABLE</h2>
			<h3 th:replace="combo/comboPeriodo.html :: comboPeriodo"></h3>
		</div>
		<div class="fechahora">
			<h2 class="letra" th:replace="combo/FechaHoraActual.html :: comboFechaHora"></h2>
		</div>
	</div>


		<div class="form-group" id="tabla" style="margin-top: 70px; margin-left: 20px; margin-right: 20px;">		
			<table class="table">
				<thead style="background-color: #ade4f2;">		
					<tr>		
						<th></th>
						<th class="subtituloAF">ITEM</th>
						<th class="subtituloAF">Cuenta contable</th>
						<th class="subtituloAF">Usuario</th>
						<th class="subtituloAF">Descripción</th>
						<th class="subtituloAF">Débito</th>	
						<th class="subtituloAF">Crédito</th>	
					</tr>
				</thead>
				<tbody>		
					<tr th:each="comprobante : ${xComprobanteDetalle}">
						<td class="detalleCentrado" text=""></td>
						<td class="detalleCentrado" th:text="${comprobante.getItem()}"></td>
						<td class="detalleAF" th:text="${comprobante.getIdCuentaAux()}"></td>
						<td class="detalleAF" th:text="${comprobante.getObservacion()}"></td>
						<td class="detalleCentrado" text=""></td>
						<td class="detalleAF" th:text="${comprobante.getVrDebito()}"></td>
						<td class="detalleAF" th:text="${comprobante.getVrCredito()}"></td>
						
					</tr>
				</tbody>
			</table>
		</div>

	
	<div class="divCencer" style="margin-top: 250px; margin-right: 15px;">				
    	<a href="./menuPrincipal" class="btn btn-primary" >Regresar</a>	
	</div>
	
	
	<div id="loadingSpinner" style="display: none;">
   				 
  	   <div class="spinner"></div>
	</div>



	<script type="text/javascript" th:inline="javascript">
		
  	function BuscarComprobantes(){
			
	   event.preventDefault();
	   
	   const button = document.getElementById('generarBtn');
	   // Deshabilitar el botón
       button.disabled = true;
       // Mostrar el spinner de carga
       document.getElementById('loadingSpinner').style.display = 'block';
         
         
	   var tipoComprobante = document.getElementById("tipoComprobante").value;
	   var idPeriodo = document.getElementById("idPeriodo").value;
			 
		// Crear un objeto que contenga los datos a enviar
        var datos = {
            tipoComprobante: tipoComprobante,
            idPeriodo: idPeriodo
        };

        // Realizar una solicitud POST al controlador
        fetch("./BuscarComprobantes", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(datos),
        })
        .then((response) => response.json())
        .then((data) => {
            console.log("data es : ", data);

            var listaComprobantes = data.listaComprobantes;
            console.log("listaComprobantes es : ", JSON.stringify(listaComprobantes));
            
            // Verificar si ReferenciaPorPlu es null o está vacía
           if (!listaComprobantes || listaComprobantes.length === 0) {
             alert("No se encontraron comprobantes.");
             // Ocultar el spinner de carga
             document.getElementById('loadingSpinner').style.display = 'none';
             button.disabled = false;
             return; 
             }

            // Llamar a la función para actualizar la tabla
            actualizarTabla(listaComprobantes);
            
            // Ocultar el spinner de carga
            document.getElementById('loadingSpinner').style.display = 'none';
            button.disabled = false;
        })
        .catch((error) => {
            console.error("Error en la solicitud:", error);
        });
			 
	}
	
	
	// Función para actualizar la tabla
function actualizarTabla(listaComprobantes) {
	
	// Obtener el contenedor de la tabla
    var tablaContainer = document.getElementById("tabla");
	
    // Limpiar la tabla antes de agregar nuevos datos
    var tbody = document.querySelector("#tabla tbody");
    tbody.innerHTML = "";
    


    // Iterar sobre la lista de resultados y agregar filas a la tabla
    listaComprobantes.forEach(function(lista) {
        var row = "<tr>" +
                    "<td class='detalleCentrado' text=''></td>" +
                    "<td class='detalleAF'>" + lista.nombreTipoComprobante + "</td>" +
                    // Modificación en esta línea para incluir un enlace con onclick
                    "<td class='detalleAF'><a href='#' onclick='mostrarDetalle(" + lista.idCpte + ")'>" + lista.idCpte + "</a></td>" +
                    "<td class='detalleAF'>" + lista.fechaDcto + "</td>" +
                    "<td class='detalleAF'>" + lista.nombreUsuario + "</td>" +
                    "<td class='detalleAF'>" + lista.idPeriodo + "</td>" +
                    "<td class='detalleAF'>" + lista.vrTotal + "</td>" +

                    // ... (agregar las demás columnas)
                "</tr>";
        tbody.innerHTML += row;
    });
    
    tablaContainer.style.display = "block";
}


    function mostrarDetalle(idCpte) {
		

		// Crear un objeto que contenga los datos a enviar
		var datos = {
		idCpte: idCpte
		};

		// Realizar una solicitud POST al controlador
		fetch("./TraerComprobanteContable-Post", {
				method: "POST",
				headers: {
				"Content-Type": "application/json",
				},
				body: JSON.stringify(datos),
		 })
			.then((response) => {
			// Verifica si la respuesta es una redirección
			if (response.redirected) {
				// Redirige al URL especificado en la respuesta
				window.location.href = response.url;
				} else {
				// Parsea la respuesta JSON si no es una redirección
				return response.json();
				}
				})
				.then((data) => {
					if (data) {
					var message = data.message;
					console.log(message);
						}
				})
				.catch((error) => {
			console.error("Error al registrar el log:", error);
				});
		}				


		
	</script>
</body>

</html>