<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Contabook</title>
        <link href="/static/styles/estiloTabla.css" rel="stylesheet" type="text/css">
        <link href="/static/styles/estiloLetra.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/Index.css}"> 
    </head>
    

    <body >
	<div th:fragment="empty">
        <div style="text-align: center;"class="letraLocal"><br>
        	<!-- Imagen del logo -->
            <img   th:src="@{/imagenes/logoContaBook.jpg}" style="width: 150px; height: 120px; border-radius: 10%; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);"> 
        </div>
        <div style="text-align: center;">&nbsp;<br>
             
        </div>        

        <div style="text-align: center;"  class="letraLocal">
			<!-- nombre del acueducto -->
            <div th:replace="combo/comboLocal.html :: comboLocal"></div>
        </div>

    </div>
          <script th:inline="javascript">
	
	console.log("hola mundo desde Empty ");


</script> 
    
    </body>
</html>