<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/styles/fuenteColor.css}"> 
</head>
<body>
    <div th:fragment="comboFechaHora">
        <p class="tituloAFcenter">FECHA ACTUAL: <span id="fechaHoraSpan" th:text="${#dates.format(#dates.createNow(), 'yyyy/MM/dd HH:mm:ss')}"></span></p>
    </div>
    
      <div th:fragment="comboFechaHoraInput">
		  
        <span id="fechaHoraSpan" th:text="${#dates.format(#dates.createNow(), 'yyyy/MM/dd HH:mm:ss')}"></span> 
    </div>
    
</body>
</html>




